<!DOCTYPE kpartgui>
<gui name="gobuildsystem" library="libkdevgobuildsystem" version="6" translationDomain="kdevgo">
  <MenuBar>
  <Menu name="run">
   <text context="@title:menu">Run</text>
   <Action name="go_test_all"/>
  </Menu>
</MenuBar>
</gui>
